payment/src/main/resources/shop.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.shop.shaplov.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.shop.shaplov.ru/" name="ShopServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.shop.shaplov.ru/" schemaLocation="http://localhost:7779/ws/shop?xsd=1"/>
</xsd:schema>
</types>
<message name="update">
<part name="arg0" type="tns:item"/>
</message>
<message name="updateResponse"/>
<message name="list"/>
<message name="listResponse">
<part name="return" type="tns:itemArray"/>
</message>
<message name="delete">
<part name="arg0" type="xsd:int"/>
</message>
<message name="deleteResponse"/>
<message name="findById">
<part name="arg0" type="xsd:int"/>
</message>
<message name="findByIdResponse">
<part name="return" type="tns:item"/>
</message>
<message name="crete">
<part name="arg0" type="tns:item"/>
</message>
<message name="creteResponse">
<part name="return" type="tns:item"/>
</message>
<portType name="ShopService">
<operation name="update">
<input wsam:Action="http://service.shop.shaplov.ru/ShopService/updateRequest" message="tns:update"/>
<output wsam:Action="http://service.shop.shaplov.ru/ShopService/updateResponse" message="tns:updateResponse"/>
</operation>
<operation name="list">
<input wsam:Action="http://service.shop.shaplov.ru/ShopService/listRequest" message="tns:list"/>
<output wsam:Action="http://service.shop.shaplov.ru/ShopService/listResponse" message="tns:listResponse"/>
</operation>
<operation name="delete">
<input wsam:Action="http://service.shop.shaplov.ru/ShopService/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://service.shop.shaplov.ru/ShopService/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="findById">
<input wsam:Action="http://service.shop.shaplov.ru/ShopService/findByIdRequest" message="tns:findById"/>
<output wsam:Action="http://service.shop.shaplov.ru/ShopService/findByIdResponse" message="tns:findByIdResponse"/>
</operation>
<operation name="crete">
<input wsam:Action="http://service.shop.shaplov.ru/ShopService/creteRequest" message="tns:crete"/>
<output wsam:Action="http://service.shop.shaplov.ru/ShopService/creteResponse" message="tns:creteResponse"/>
</operation>
</portType>
<binding name="ShopServiceImplPortBinding" type="tns:ShopService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.shop.shaplov.ru/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.shop.shaplov.ru/"/>
</output>
</operation>
<operation name="list">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.shop.shaplov.ru/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.shop.shaplov.ru/"/>
</output>
</operation>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.shop.shaplov.ru/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.shop.shaplov.ru/"/>
</output>
</operation>
<operation name="findById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.shop.shaplov.ru/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.shop.shaplov.ru/"/>
</output>
</operation>
<operation name="crete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://service.shop.shaplov.ru/"/>
</input>
<output>
<soap:body use="literal" namespace="http://service.shop.shaplov.ru/"/>
</output>
</operation>
</binding>
<service name="ShopServiceImplService">
<port name="ShopServiceImplPort" binding="tns:ShopServiceImplPortBinding">
<soap:address location="http://localhost:7779/ws/shop"/>
</port>
</service>
</definitions>